body {
  background-color: #DDDDDD;
  padding: 20px;
  margin: 0;
}

h1, h2, p, ul, li {
  font-family: sans-serif;
}

ul.header {
  background-color: #111;
  padding: 0;
  text-align: right;
}

ul.header > h2{
  color: #FFF;
  padding: 20px;
  margin: 0px;
  position: absolute;
  top: 30px;
  left: 20px;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li a {
  /* text-align: right; */
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
  /* border: 1px solid red; */
}

.sidebar {
  background-color: #777;
  padding: 20px;
  margin-right: 20px;
  /* height: 400px; */
  width: 20%;
  float: left;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul h2 {
  color: #111;
  text-align: center;
}

.sidebar ul li a{
  text-align: center;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  display: block;
  /* padding: 20px; */
}

.bodyarea {
  float:left;
  background-color: #FFF;
  padding: 20px;
  /* height: 400px; */
  width: 72.9%;
  overflow: scroll;
}

.bodyarea h2 {
  padding: 0;
  margin: 0;
}

.bodyarea li {
  margin-bottom: 10px;
  list-style: none;
  border-top: 1px solid #111;

}

.bodyarea .newPost{
  color: black;
  text-decoration: none;
}

.bodyarea .newPost:active {
  color: black;
  text-decoration: none;
}


.clear {
  clear: both;
}

.footer {
  background-color: #111;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  margin: 16px 0px;
  text-align: right;
}

ul.header .active {
  background-color: #0099FF;
}

div.sidebar .active {
  background-color: #cece3c;
}